$monospace-font: Menlo,
Monaco,
Consolas,
'Courier New',
monospace;
$line-space: 16px;
$baseTxtColor: #353535;
$titleColor: #005bb7;
$strongColor: #2196f3;
$codeColor: #c2185b;
$codeBgColor: #fff4f4;
$blockquoteBgColor: #f0fdff;
$aColor: #007fff;

@mixin headTitle($padb: 4px, $fontSize: 24px, $mtop: 36px) {
  padding-bottom: $padb;
  margin-top: $mtop;
  margin-bottom: 10px;
  font-size: $fontSize;
  line-height: 1.5;
  color: $titleColor;
}

@mixin blockquoteColor {
  color: #8c8c8c;
  border-left: 4px solid $strongColor;
  background-color: #f0fdff;
}

.markdown-body {
  word-break: break-word;
  line-height: 1.75;
  font-weight: 400;
  font-size: 14px;
  overflow-x: hidden;
  color: $baseTxtColor;

  h1 {
    @include headTitle(4px, 30px);
  }

  h2 {
    position: relative;
    padding-left: 16px;
    padding-right: 10px;
    @include headTitle(10px, 24px);
    border-bottom: 1px solid #ececec;

    &::before {
      content: '「';
      position: absolute;
      top: -6px;
      left: -10px;
    }

    &::after {
      content: '」';
      position: absolute;
      top: 6px;
      right: auto;
    }
  }

  h3 {
    position: relative;
    @include headTitle(0, 20px, 30px);
    padding-left: 6px;

    &::before {
      content: '»';
      padding-right: 6px;
      color: $strongColor;
    }
  }

  h4 {
    @include headTitle(0, 16px, 24px);
    padding-left: 6px;
  }

  h5 {
    @include headTitle(0, 14px, 18px);
    padding-left: 6px;
  }

  h6 {
    @include headTitle(0, 12px, 12px);
    padding-left: 6px;
  }

  p {
    line-height: inherit;
    margin-top: $line-space;
    margin-bottom: $line-space;
  }

  img {
    max-width: 100%;
  }

  hr {
    position: relative;
    width: 98%;
    height: 1px;
    margin-top: 32px;
    margin-bottom: 32px;
    background-image: linear-gradient(90deg, $aColor, rgba(255, 0, 0, 0.3), rgba(255, 255, 255, 0.1), rgba(255, 0, 0, 0.3), $aColor);
    border-width: 0;
    overflow: visible;

    &::after {
      content: "";
      position: absolute;
      margin: auto;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      display: inline-block;
      width: 60px;
      height: 20px;
      background: #fff;
      background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAgCAYAAABgrToAAAADoklEQVRYR82XTYgcRRTHf2933Q1RjAa9eFO8JHoJ8RQVBQ2iBwXBET0YEUTXNVmNQtTpmeqaWV0XNRq/o4KoECSCEPSg4CF+BYUkIIiCoCJCPIhC/Ihh2Z0nVV27VnZnenumW9i6ddV7//frV69fVQurfMgq56NawFTPAU6QyomqXrw6wIZeyhCPebA5buNR+akKyGoAjd6BshthnYdSjqNcRVuOlIUsD2j0SuA94IwuMHdh5ZUykOUBXfSGbmKI54EtAeYIHSZoy5dl4JxvNYBOKdW1KE8BQ8AkVk6WhasWsAiN0TX9gveXQaPP+Aytpc4u+bMI06JNohsYYYYOR2lJWtS3OKDRfcAtQfgDoI6Vo4UCGb0OmAEuDvZvYmVbEd/igC3dzDz7gQu8sPA9kJDK27mBmjqBeLjTg90PDFOjWawFFQd06kZHEfaj3LAIpTRpSXsZ5E06zEYP9sDimnAApYaV2SLZG/wjMeqAkijwW4xQJ5Gf/ZzRC8OW3hiBTGGlURRswW55Bh/Ssxljrwew8l1PQaM14GngvGDzBUKdDsMeTtgU5o8B92PFlUf3YXUrHa7Fys6lBqcCGnX15YQ2A18FyPd7Crd1A3M8C1wdbH4DD3hWeP6IEXbQkG97ajR1HPFnuPP5jFFq1OWX7hl8WM9l1AO648uNfwLk7tytMeogty+xeQ4rO3r6bdcx1nuwOGsHmaXGtPzae4uzGnLH1kQkvpdZGrHjssBZJrL+pqS05KWc8tgITAPXRzYvYOXe/C2OV43eDcRBDtIhoS2f9wzc0Cv8Wls+zoFzUC5zF0U241h5uZtPfptp6OUM8wbK+cH5GEpCS17P3fJei0Z3+npTxryJ8CPzbKMtn/ZyWbkPGl0PuFPkmkjkcb4h4R2ZLwRq1H0ALmvjkf2HwK1Y+T1PY2XABe/sHJ6MxN5lnoSpnC/UGbsTaI5phK2R7x6s3Ffk5YoDOrWm3onwJHBmEP86bPmBrsGaenNoIdnxCH+gPEhLXi0Cl1VBvyPVLSh7gEuC62yAfOIUqabWEaaiucMIk6RyqJ+Q/QM69V26jjW86Gvov/EaoyT8zRCn+Xq7PVrbx0nuYUaO9wM3WAbjCE1NEUw09Um4UV+2OKfYfu5/S19gsAzGKqm6LE5FrShbdS0ku465DjDwKA/oQht19ejqbaEVuRbiLhuHByYLjtUAZpDutzP7cYdHsPJXWbjyNVgFwQoa1WXwf4Jd9YD/Ap80+yE7+u9aAAAAAElFTkSuQmCC);
      background-repeat: no-repeat;
      background-size: auto 100%;
      background-position-x: center;
    }
  }

  code {
    padding: .065em .4em;
    font-family: $monospace-font;
    font-size: .87em;
    color: $codeColor;
    word-break: break-word;
    overflow-x: auto;
    background-color: $codeBgColor;
    border-radius: 2px;
  }

  pre {
    font-family: $monospace-font;
    overflow: auto;
    position: relative;
    line-height: 1.75;

    >code {
      display: block;
      padding: 16px 12px;
      margin: 0;
      font-size: 12px;
      color: #333;
      word-break: normal;
      overflow-x: auto;
      background: #f8f8f8;

      &::-webkit-scrollbar {
        width: 4px;
        height: 4px;
      }

      &::-webkit-scrollbar-track {
        background-color: #bedcff;
      }

      &::-webkit-scrollbar-thumb {
        background-color: $strongColor;
        border-radius: 10px;
      }
    }
  }

  a {
    position: relative;
    text-decoration: none;
    color: #3da8f5;
    border-bottom: 1px solid #bedcff;

    &:hover {
      color: $aColor;
      border-bottom-color: $aColor;
    }

    &:active {
      color: $aColor;
    }

    &::after {
      position: absolute;
      content: '';
      top: 100%;
      left: 0;
      width: 100%;
      opacity: 0;
      border-bottom: 1px solid #bedcff;
      transition: top .3s, opacity .3s;
      transform: translate3d(0, 0, 0);
    }

    &:hover::after {
      top: 0;
      opacity: 1;
      border-bottom-color: $aColor;
    }
  }

  table {
    display: inline-block !important;
    font-size: 12px;
    width: auto;
    max-width: 100%;
    overflow: auto;
    border: 1px solid #c3e0fd;
    border-spacing: 0;
    border-collapse: collapse;

    thead {
      color: #000;
      text-align: left;
      font-size: 14px;
      background: #f6f6f6;
    }

    tr:nth-child(2n) {
      background-color: #f7fbff;
    }

    tr:hover {
      background-color: #e0edf7;
    }

    th,
    td {
      padding: 12px 8px;
      line-height: 24px;
      border: 1px solid #c3e0fd;
    }

    th {
      color: $titleColor;
      background-color: #dff0ff;
    }

    td {
      min-width: 120px;
    }
  }

  blockquote {
    @include blockquoteColor;
    padding: 1px 20px;
    margin: 22px 0;

    &::after {
      display: block;
      content: '';
    }

    &>p {
      margin: 10px 0;
    }

    &>b,
    &>strong {
      color: $strongColor;
    }
  }

  b,
  strong {
    color: $strongColor;
  }

  i,
  em {
    color: #4fc3f7;
  }

  del {
    color: #ccc;
  }

  ol,
  ul {
    padding-left: 28px;

    li {
      margin-bottom: 0;
      list-style: inherit;

      & .task-list-item {
        list-style: none;

        ul,
        ol {
          margin-top: 0;
        }
      }
    }

    ul,
    ol {
      margin-top: 4px;
    }
  }

  ol li {
    padding-left: 6px;
  }

  // details & summary
  details {
    &>summary {}

    &>p {}
  }

  // selection
  h1::selection,
  h2::selection,
  h3::selection,
  h4::selection,
  h5::selection,
  h6::selection {
    color: $titleColor;
    background-color: rgba(160, 200, 255, .15);
  }

  p::selection {
    color: rgb(200, 0, 0);
  }

  a::selection,
  b::selection,
  strong::selection,
  i::selection,
  em::selection,
  del::selection {
    background-color: transparent;
  }

  code::selection {
    background-color: #ffeaeb;
  }

  pre {
    >code::selection {
      background-color: rgba(160, 200, 255, .25);
    }
  }

  ol,
  ul {
    ::selection {
      background-color: rgba(160, 200, 255, .15);
    }
  }

  // @media
  @media (max-width: 720px) {
    h1 {
      font-size: 24px;
    }

    h2 {
      font-size: 20px;
    }

    h3 {
      font-size: 18px;
    }
  }
}