<!DOCTYPE html>
<html lang="zh">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./index.css">
  <link rel="stylesheet" href="./juejin.css">
  <title>预览 掘金 markdown 主题</title>
  <script src="/socket.io/socket.io.js"></script>
</head>

<body>
  <div class="main-area">
    <article class="markdown-body">
      <%-data%>
    </article>
  </div>
</body>
<script defer>
  io('ws://localhost:3000').on('reload', () => {
    console.log(222);
    window.location.reload();
  });
</script>

</html>