<!DOCTYPE html>
<html lang="zh">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./index.css">
  <link rel="stylesheet" href="./juejin.css">
  <title>预览 掘金 markdown 主题</title>
  <script src="/socket.io/socket.io.js"></script>
</head>

<body>
  <div class="main-area">
    <article class="markdown-body">
      <%-data%>
    </article>
  </div>
  <div class="change-style">
    光亮模式
  </div>
</body>
<script defer>
  io('ws://localhost:3000').on('reload', () => {
    window.location.reload();
  });

  const elRoot = document.querySelector('html');
  const csel = document.querySelector('.change-style');

  let isDark = false;
  const chageElClass = () => {
    isDark = !isDark;
    elRoot.classList.toggle('__dark', isDark);
    csel.innerText = isDark ? "深色模式" : "光亮模式";
  };
  csel.addEventListener('click', chageElClass);
</script>

</html>