html {
  font-size: 12px;
  font-family: -apple-system, system-ui, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont, Helvetica Neue, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial;
  word-break: break-word;
  text-rendering: optimizeLegibility;
  color: #333;
  background-color: #f4f5f5;
}

.main-area {
  position: relative;
  width: 820px;
  max-width: 100%;
  margin: auto;
  box-sizing: border-box;
}

.main-area > * {
  background-color: #fff;
  border-radius: 2px;
}

.main-area .article {
  position: relative;
  padding: 32px;
  z-index: 1;
}

.main-area .article .article-content {
}

.math .katex {
  position: relative;
}

.math .katex .katex-mathml {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
}

/* 模式按钮切换样式 */
.switch-mode {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 9999;
}

.switch-mode .toggle-mode-btn {
  display: block;
  padding: 4px 6px;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 6px;
  cursor: pointer;
}

.switch-mode .toggle-mode-btn::before {
  content: '深色模式';
}

.switch-mode .toggle-mode:checked + .toggle-mode-btn::before {
  content: '光亮模式';
}

/* 深色模式 */
html.__dark {
  color-scheme: dark;
}

.__dark {
  background-color: #111;
}

.__dark .main-area > * {
  background-color: #2f2f2f;
}