html {
  font-size: 12px;
  font-family: -apple-system, system-ui, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont, Helvetica Neue, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial;
  word-break: break-word;
  text-rendering: optimizeLegibility;
  color: #333;
  background-color: #f4f5f5;
}

.main-area {
  position: relative;
  width: 700px;
  max-width: 100%;
  padding: 0 2rem;
  margin: auto;
  background-color: #fff;
  border-radius: 2px;
  box-sizing: border-box;
}

.main-area article {
  padding-top: 2rem;
}
