.main-area {
  background-color: #2f2f2f;
}

.markdown-body {
  word-break: break-word;
  line-height: 1.75;
  font-weight: 400;
  font-size: 14px;
  overflow-x: hidden;
  color: #cacaca;
  background-color: #2f2f2f;
}
.markdown-body h1 {
  padding-bottom: 4px;
  margin-top: 36px;
  margin-bottom: 10px;
  line-height: 1.5;
  font-size: 30px;
  color: #fff;
}
.markdown-body h2 {
  padding-bottom: 10px;
  margin-top: 36px;
  margin-bottom: 10px;
  line-height: 1.5;
  font-size: 24px;
  color: #fff;
  border-bottom: 1px solid #ececec;
}
.markdown-body h3 {
  padding-bottom: 0;
  margin-top: 36px;
  margin-bottom: 10px;
  line-height: 1.5;
  font-size: 20px;
  color: #fff;
}
.markdown-body h4 {
  padding-bottom: 0;
  margin-top: 36px;
  margin-bottom: 10px;
  line-height: 1.5;
  font-size: 16px;
  color: #fff;
}
.markdown-body h5 {
  padding-bottom: 0;
  margin-top: 36px;
  margin-bottom: 10px;
  line-height: 1.5;
  font-size: 14px;
  color: #fff;
}
.markdown-body h6 {
  padding-bottom: 0;
  margin-top: 6px;
  margin-bottom: 10px;
  line-height: 1.5;
  font-size: 12px;
  color: #fff;
}
.markdown-body p {
  line-height: inherit;
  margin-top: 16px;
  margin-bottom: 16px;
}
.markdown-body img {
  max-width: 100%;
}
.markdown-body hr {
  border-top: 1px solid #ddd;
  border-bottom: none;
  border-left: none;
  border-right: none;
  margin-top: 32px;
  margin-bottom: 32px;
}
.markdown-body code {
  padding: 0.065em 0.4em;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  font-size: 0.87em;
  color: #000;
  word-break: break-word;
  overflow-x: auto;
  background-color: #fe9900;
  border-radius: 4px;
}
.markdown-body pre {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  overflow: auto;
  position: relative;
  line-height: 1.75;
}
.markdown-body pre > code {
  display: block;
  padding: 16px 12px;
  margin: 0;
  font-size: 12px;
  color: #d8d8d8;
  word-break: normal;
  overflow-x: auto;
  background: #f8f8f8;
  background: #000;
}
.markdown-body a {
  position: relative;
  text-decoration: none;
  color: #fe9900;
  border-bottom: 1px solid rgba(255, 199, 116, 0.5);
}
.markdown-body a:hover {
  color: #fe9900;
  border-bottom-color: #fe9900;
}
.markdown-body a:active {
  color: #fe9900;
}
.markdown-body a::after {
  position: absolute;
  content: "";
  top: 100%;
  left: 0;
  width: 100%;
  opacity: 0;
  border-bottom: 1px solid rgba(255, 199, 116, 0.5);
  transition: top 0.3s, opacity 0.3s;
  transform: translate3d(0, 0, 0);
}
.markdown-body a:hover::after {
  top: 0;
  opacity: 1;
  border-bottom-color: #fe9900;
}
.markdown-body table {
  display: inline-block !important;
  font-size: 12px;
  width: auto;
  max-width: 100%;
  overflow: auto;
  border: solid 1px #fe9900;
}
.markdown-body thead {
  background: #fe9900;
  color: #000;
  font-size: 14px;
  text-align: left;
}
.markdown-body tr:nth-child(2n) {
  background-color: #6d5736;
}
.markdown-body th,
.markdown-body td {
  padding: 12px 8px;
  line-height: 24px;
}
.markdown-body td {
  min-width: 120px;
}
.markdown-body blockquote {
  color: #c7c7c7;
  border-left: 4px solid #fe9900;
  background-color: rgba(255, 199, 116, 0.1);
  padding: 1px 20px;
  margin: 22px 0;
}
.markdown-body blockquote::after {
  display: block;
  content: "";
}
.markdown-body blockquote > p {
  margin: 10px 0;
}
.markdown-body blockquote > b, .markdown-body blockquote > strong {
  color: #2196f3;
}
.markdown-body b,
.markdown-body strong {
  color: #fe9900;
}
.markdown-body i,
.markdown-body em {
  color: #ffd28e;
}
.markdown-body del {
  color: #ccc;
}
.markdown-body ol,
.markdown-body ul {
  padding-left: 28px;
}
.markdown-body ol li,
.markdown-body ul li {
  margin-bottom: 0;
  list-style: inherit;
}
.markdown-body ol li .task-list-item,
.markdown-body ul li .task-list-item {
  list-style: none;
}
.markdown-body ol li .task-list-item ul,
.markdown-body ol li .task-list-item ol,
.markdown-body ul li .task-list-item ul,
.markdown-body ul li .task-list-item ol {
  margin-top: 0;
}
.markdown-body ol ul,
.markdown-body ol ol,
.markdown-body ul ul,
.markdown-body ul ol {
  margin-top: 4px;
}
.markdown-body ol li {
  padding-left: 6px;
}
.markdown-body h1::selection,
.markdown-body h2::selection,
.markdown-body h3::selection,
.markdown-body h4::selection,
.markdown-body h5::selection,
.markdown-body h6::selection {
  color: #fff;
  background-color: rgba(255, 227, 185, 0.25);
}
.markdown-body h2::before {
  content: "P#";
  padding: 0 6px;
  margin: 0 4px;
  color: #000;
  background-color: #fe9900;
  border-radius: 6px;
}
.markdown-body p::selection {
  color: #c28432;
}
.markdown-body a::selection,
.markdown-body b::selection,
.markdown-body strong::selection,
.markdown-body i::selection,
.markdown-body em::selection,
.markdown-body del::selection {
  color: #000;
  background-color: rgba(254, 152, 0, 0.7);
}
.markdown-body code::selection {
  background-color: rgba(254, 152, 0, 0.7);
}
.markdown-body pre > code::selection {
  background-color: rgba(160, 200, 255, 0.25);
}
.markdown-body ol ::selection,
.markdown-body ul ::selection {
  background-color: rgba(160, 200, 255, 0.15);
}
@media (max-width: 720px) {
  .markdown-body h1 {
    font-size: 24px;
  }
  .markdown-body h2 {
    font-size: 20px;
  }
  .markdown-body h3 {
    font-size: 18px;
  }
}

/*# sourceMappingURL=juejin.css.map */
